.contact {
  padding: 80px;
  padding-bottom: 50px;
  background-color: $primary-light;

  h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: $primary-dark;
    font-family: $font-primary;
    letter-spacing: 3px;
    font-weight: 500;
  }

  form {
    display: flex;
    flex-flow: row wrap;

    .field-set {
      flex: 1;
      flex-shrink: 0;

      .field {
        padding: 10px 10px 10px 0;

        span {
          color: $primary-dark;
          font-size: 18px;
          text-transform: uppercase;
          font-family: $font-primary;
          font-weight: 400;
          letter-spacing: 2px;
        }

        input {
          border: none;
          background: none;
          border-bottom: 1px solid $primary-mid;
          padding-bottom: 5px;
          width: 100%;
          font-size: 15px;
          color: $primary-dark;
          min-width: 300px;

          &:focus {
            outline: none;
          }
        }

        textarea {
          background: none;
          border: 2px solid $primary-mid;
          resize: none;
          width: 100%;
          min-width: 300px;
          height: 100px;
        }
      }
    }

    .message {
      flex: 1;
      padding-bottom: 14px;
    }

    .submit-button {
      align-self: flex-end;
      margin: 10px 0;
    }
  }

  a {
    display: inline-block;
    border: none;
    background-color: $primary-dark;
    color: $primary-light;
    width: 80px;
    padding: 10px;
    text-decoration: none;
    font-family: $font-primary;
  }
}

@media screen and (max-width: 550px) {
  .contact {
    padding: 30px;
    padding-bottom: 50px;

    h2 {
      font-size: 25px;
    }

    form .field-set .field span {
      font-size: 14px;
    }
  }
}
