.gallery {
  background-color: $primary-dark;
  padding: 75px 0;
  text-align: center;

  h2 {
    display: inline-block;
    text-align: center;
    padding: 0 15px;
    color: $primary-light;
    font-family: $font-primary;
    font-weight: 300;
    margin-top: 30px;
    font-size: 35px;
    border-bottom: 1px solid $primary-light;
  }

  .images {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    img {
      width: 550px;
      border: 2px solid $primary-light;
      padding: 8px;
    }

    button {
      border-color: $gallery-button-color;
      background-color: rgba(0, 0, 0, 0);
      width: 0;
      height: 0;
      border: none;
      outline: none;
      margin: 0 10px;
    }

    .button-left {
      border-top: 80px solid rgba(0, 0, 0, 0);
      border-bottom: 80px solid rgba(0, 0, 0, 0);
      border-right: 60px solid $gallery-button-color;
    }

    .button-right {
      border-top: 80px solid rgba(0, 0, 0, 0);
      border-bottom: 80px solid rgba(0, 0, 0, 0);
      border-left: 60px solid $gallery-button-color;
    }
  }

  @media screen and (max-width: 750px) {
    .images {
      img {
        width: 300px;
      }
    }
  }

  @media screen and (max-width: 500px) {
    .images {
      .button-left {
        border-top: 40px solid rgba(0, 0, 0, 0);
        border-bottom: 40px solid rgba(0, 0, 0, 0);
        border-right: 30px solid $gallery-button-color;
      }

      .button-right {
        border-top: 40px solid rgba(0, 0, 0, 0);
        border-bottom: 40px solid rgba(0, 0, 0, 0);
        border-left: 30px solid $gallery-button-color;
      }
    }
  }
}
