header {
  background-image: url('../assets/banner.png');
  height: 75vh;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  h1 {
    @include fontWSize($font-primary, 600);
    width: 50%;
    font-size: 50px;
    color: $primary-light;
    text-transform: uppercase;
    line-height: 1.25;
    margin-bottom: 5px;
  }

  hr {
    width: 50%;
  }

  h2 {
    @include fontWSize($font-quote, 500);
    font-size: 25px;
    color: $primary-light;
    font-style: italic;
  }
}
