*, *:before, *:after {
	box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p,
a,
div,
blockquote,
ul, li {
	border: none;
	margin: 0;
	padding: 0;
}

li {
  list-style-type: none;
}

// For angular.js only
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
