.testimony {
  //background-image: url('../assets/testimony.png');
  background-size: cover;

  ul.quotes {
    text-align: center;
    padding-top: 120px;

    li {
      display: inline-block;
      font-size: 32px;
      color: $primary-light;
      font-family: $font-quote;
      max-width: 550px;
      margin: 0 15px;

      span {
        position: relative;
        left: 35%;
        font-size: 25px;
      }
    }
  }

  ul.icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    li {
      margin: 100px 20px;
      background-color: $testimony-icon-inactive;
      width: 35px;
      height: 35px;
      border-radius: 100%;
    }

    .current-icon {
      background-color: $testimony-icon-active;
    }
  }

  @media screen and (max-width: 575px) {
    ul.quotes {
      li {
        font-size: 25px;

        span {
          font-size: 20px;
          position: static;
        }
      }
    }

    ul.icons {
      li {
        width: 25px;
        height: 25px;
        margin: 100px 15px;
      }
    }
  }
}
