// Colors
$primary-light: #E6E6E6;
$primary-dark: #262626;
$primary-mid: #a9a9a9;
$gallery-button-color: #605a5a;
$testimony-icon-inactive: #7d7978;
$testimony-icon-active: #ebebeb;

// Fonts
$font-primary: 'Poppins', sans-serif;
$font-quote: 'Raleway', sans-serif;
$font-end-quote: 'Tinos', serif;
